 /*Events Page  */
 
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
 * {
     margin: 0 0.6vw;
     padding: 0;
     font-family: 'Quicksand', sans-serif;
 }
 
 :root {
     --color-primary: #815ac0;
     --color-secondary: #9163cb;
     --color-black: rgb(41, 41, 41);
     --color-text: #fff;
     --color-shadow: #6247aa;
     --color-card: #f8f9fa;
 }
 
 html {}
 
 body {
     /* overflow: hidden; */
 }
 /* event header */
 
 .event-header {
     width: 95vw;
     height: 43vw;
     display: flex;
     justify-content: center;
     margin: auto;
     background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("https://drive.google.com/uc?export=view&id=1K5vY8WNKRTxNNneaTyoVqcnN7GVZMK_0");
     background-position: center;
     background-size: cover;
     border-radius: 10px;
     text-align: center;
 }
 
 .event-header:hover {
     background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("https://drive.google.com/uc?export=view&id=1aF8cEll6RJBUfLuDfJ4aQcGsdO4a8xRV");
 }
 
 .event-header-item {
     display: flex;
     justify-content: center;
     margin: auto;
     object-fit: fill;
 }
 
 .event-header-item h2 {
     font-size: 6vw;
     color: rgb(227, 242, 255);
     letter-spacing: 0.9vw;
 }
 /* .timeline {
     width: 80vw;
     margin: auto;
     text-align: center;
     padding-top: 10vh;
 }
 
 .timeline-header {
     padding-bottom: 5vh;
     font-size: 2.6vw;
 }
 
 .timeline-container {
     margin: 1vw;
 }
 
 .timeline-card {
     background: #fc6c6c;
     border-radius: 10px;
     box-sizing: border-box;
     transition: 0.5s;
     margin: 1vw;
     display: flex;
 }
 
 .timeline-card h3 {
     align-content: flex-start;
 }
 
 .timeline-card p {
     margin: auto;
 }
 
 .timeline-card:hover {
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
 } */
 /* timeline */
 
 .timeline {
     color: var(--color-black);
     /* background-color: #ff9900; */
     width: 90vw;
     margin: auto;
     text-align: center;
     padding: 1vw;
     align-items: center;
 }
 
 .timeline-container {
     margin-top: 4vw;
 }
 
 .timeline-container img {
     width: 64vw;
     height: 36vw;
 }
 
 .timeline-container h3 {
     font-size: 2.4vw;
     font-weight: lighter;
 }
 
 .timeline-explanation {
     display: flex;
     border-radius: 10px;
     box-sizing: border-box;
     transition: 0.5s;
     margin: 1vw;
     padding: 0.1vw;
     justify-content: center;
 }
 
 .timeline-explanation-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 
 .timeline-explanation-card {
     background: var(--color-card);
     width: 80vw;
     display: flex;
     padding: 1vw;
     margin: 0.6vw;
     border-radius: 20px;
 }
 
 .timeline-explanation-card h3 {
     align-items: flex-start;
     white-space: nowrap;
 }
 
 .timeline-explanation-card p {
     flex: auto;
 }
 
 .timeline-explanation-card:hover {
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
 }